/**
* Button
*/

// Reboot based on :
// - normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css
// - sanitize.css v12.0.1 | CC0 1.0 Universal | github.com/csstools/sanitize.css
// ––––––––––––––––––––

// 1. Change the font styles in all browsers
// 2. Remove the margin in Firefox and Safari
// 3. Show the overflow in Edge

button {
    display: block;
    width: 100%;
}

a[role="button"] {
    display: inline-block;
    text-decoration: none;
}

button,
input[type="submit"],
input[type="button"],
input[type="reset"],
a[role="button"] {
    -webkit-appearance: button;
    margin: 0; // 2
    overflow: visible; // 3
    font-family: inherit; // 1
    text-transform: none; // 1
    
    background-color: var(--primary);
    color: var(--primary-inverse);
    padding: var(--pad2) var(--pad3);
    border-radius: $border-radius;
    outline: none;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    
    transition: background-color $transition;
    
    &:focus {
        background-color: var(--primary-focus);
    }
    
    &:hover,
    &:active {
        background-color: var(--primary-hover);
    }
    
    
    &::-moz-focus-inner {
        // Remove the inner border and padding in Firefox
        padding: 0;
        border-style: none;
    }
    
    &.is-important {
        background-color: #{$purple};
        color: white;

        &.outline {
            border-color: #{$purple};
        }
    }

    &.outline {
        background-color: transparent;
        border: 1px solid var(--primary);
        color: var(--primary);
        
        &:hover, &:active, &:focus {
            background: transparent;
        }
    }
    
    &[type="reset"], &.secondary {
        background-color: var(--secondary);
        color: var(--secondary-inverse);
        
        &:hover,
        &:active,
        &:focus {
            background-color: var(--secondary-hover);
        }
        
        &.outline {
            background-color: transparent;
            border: 1px solid var(--secondary);
            color: var(--secondary);
            
            &:hover, &:active, &:focus {
                background: transparent;
            }
        }
    }
    
    &[disabled] {
        opacity: 0.5;
        pointer-events: none;
    }
}


