/**
 * Table
 */

// Reboot based on :
// - normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css
// - sanitize.css v12.0.1 | CC0 1.0 Universal | github.com/csstools/sanitize.css
// ––––––––––––––––––––

// 1. Collapse border spacing in all browsers (opinionated).
// 2. Correct table border color inheritance in all Chrome, Edge, and Safari.
// 3. Remove text indentation from table contents in Chrome, Edge, and Safari.
table {
    border-color: inherit; // 2
    border-collapse: collapse; // 1
    border-spacing: 0;
    text-indent: 0; // 3
  }
  
  // Pico
  // ––––––––––––––––––––
  
  // Cells
  th,
  td {
    padding: var(--pad1) 0;
    text-align: left;
    vertical-align: top;
  }
  
  th:not(:last-child), td:not(:last-child) {
    padding-right: var(--pad3);
  }
  
  tr:not(:last-child) > th, tr:not(:last-child) > td {
    border-bottom: 1px solid var(--table-border-color);
  }
  
  // Striped
  table {
    &[role="grid"] {
      tbody tr:nth-child(odd) {
        background-color: var(--table-row-stripped-background-color);
      }
    }
  }
  