{% macro form_macro(form, action, method="post") %}
<form method="{{ method }}" action="{{ action }}" enctype="multipart/form-data">
    {% for field in form -%}
    {% if field.type != 'CSRFTokenField' and field.type != 'SubmitField' %}
    <label>
        {%- if field.type != 'SubmitField' and field.type != 'BooleanField' -%}
        {{field.label.text}}
        {%- endif -%}

        {% if field.type == 'RadioField' %}
        {% for subfield in field %}
        <label>
            {{ subfield }} {{subfield.label.text}}
        </label>
        {% endfor %}
        {% else %}
        {{ field(class_=('has-error' if field.errors else '')) }}
        {% endif %}

        {%- if field.type == 'BooleanField' -%}
        {{" "}}{{field.label.text}}
        {%- endif -%}
    </label>

    {%- for err in field.errors -%}
    <p class="notification is-important">{{ err|e }}</p>
    {%- endfor -%}
    {% if field.description %}
    <div class="notification">{{field.description}}</div>
    {% endif %}
    {% endif %}
    {% endfor -%}

    {% for field in form -%}
        {% if field.type == 'CSRFTokenField' and method != 'get' %}
            {{ field() }}
        {% endif %}
    {% endfor %}

    <div class="buttons">
        {% for field in form -%}
            {% if field.type == 'SubmitField' %}
                {{ field(class_="button is-primary") }}
            {% endif %}
        {% endfor -%}
    </div>
</form>
{% endmacro %}