{% extends "layout.html" %}

{% block title %}
Leaderboard
{% endblock %}

{% block body %}

<div class="columns4">
    <div class="people-cards rows3" style="display: block;">
        <h2>Most hours last week</h2>
        {% for person, hours in hours_per_person %}
        <a href="{{ url_for('edit', userId=person.id) }}" class="card">
            <img class="avatar" src="{{person.avatar}}" alt="Avatar">
            <div>
                <h3>
                    {{loop.index}}. {{person.full_name}}
                </h3>
                <p>
                    {{hours}} hours
                </p>
            </div>
        </a>
        {% endfor %}
    </div>
    <div class="people-cards rows3" style="display: block;">
        <h2>Most progress last 2 weeks</h2>
        {% for item in progress_per_person %}
        <a href="{{ url_for('edit', userId=item.person.id) }}" class="card">
            <img class="avatar" src="{{item.person.avatar}}" alt="Avatar">
            <div>
                <h3>
                    {{loop.index}}. {{item.person.full_name}}
                </h3>
                <p>
                    {{item.passed}} lesson days{% if item.needs_grading %} + {{item.needs_grading}} to grade{% endif %}
                </p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

{% endblock %}