{% extends "layout.html" %}

{% block title %}
People
{% endblock %}

{% block main_class %}container{% endblock %}

{% block body %}

{% for person in people %}
    {% if not loop.previtem or loop.previtem.class_name != person.class_name %}
        {% if loop.previtem %}
            </div>
        {% endif %}
        <h2>{{person.class_name or "No class"}}</h2>
        <div class="people-cards">
    {% endif %}
    <a class="card" href="{{ url_for('edit', userId=person.id) }}">
        <img class="avatar" src="{{person.avatar}}" alt="Avatar">
        <div>
            <h3>
                {%if day_of_week in person.absent_days %}
                <span class="tag is-info">home</span>
                {%endif%}
                {%if person.id in absent_reasons %}
                <span class="tag is-info">{{absent_reasons[person.id]}}</span>
                {%endif%}
                {%if person.id in online_users %}
                <span class="tag"></span>
                {%elif person.id in today_users %}
                <span class="tag translucent"></span>
                {%endif%}
                {{person.full_name}}
            </h3>
            <p>
                {{person.description}}
            </p>
        </div>
    </a>
{% endfor %}
{% if people %}
    </div>
{% endif %}

{% if current_user.is_teacher %}
<div class="buttons mar4">

    {% if filter_form %}
    <form style="display: flex;">
        <div class='mr-4'>
            <div>
                {{filter_form.hidden(role="switch", onchange="submit()")}} {{filter_form.hidden.label}}
            </div>
            <div>
                {{filter_form.inactive(role="switch", onchange="submit()")}} {{filter_form.inactive.label}}
            </div>
        </div>
    </form>

    <a href="{{ url_for('new') }}" role="button">
        Add a person
    </a>
</div>
{% endif %}
{% endif %}


{% endblock %}